.filterSection{
  background: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #C4C4C4;
  border-width: 1px;
  width: 100%;
  margin: 0;
}

.filterSection p{
  margin: 0px;
  font-size: large;
}
