.filterSection{
  background: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #C4C4C4;
  border-width: 1px;
  width: 100%;
  margin: 0;
  margin-top: 3%;
}

.filterSection h2{
  margin: 0px;
  /* font-size: large; */
  /* font; */
  font-weight: bolder;
}

.filterSection button{
  margin-top: 2%;
}

.filterSection h3{
  margin: 0px;
  margin-top: 5%;
  font-weight: bolder;
}