.filterSection {
    background: white;
    border-radius: 10px;
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 1px;
    width: 100%;
    margin: 0;
    margin-top: 3%;
}

.filterSection h2 {
    margin: 0px;
    /* font-size: large; */
    /* font; */
    font-weight: bolder;
}

.filterSection button {
    margin-top: 2%;
}

.filterSection h3 {
    margin: 0px;
    margin-top: 5%;
    font-weight: bolder;
}

.modal p:hover {
    cursor: pointer;
}

.modalHeader {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 4%;
}

.dividerFilter {
    background-color: #b8b1b1;
}
