.card {
    border-radius: 10px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../public/tempura.jpg");
    
    height: 60vh;
    background-size: cover;
    color: white;
}      