html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.ant-card-head-title {
    display: inline-block;
    flex: 1 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.ant-menu .ant-menu-item-active.menuOption {
    color: #272727;
}

.ant-menu .ant-menu-item-selected.menuOption {
    color: #1890ff;
}

.ant-btn.modalBtnSelected {
    color: #1890ff;
}

.ant-menu{
    border-right-color: white;
}