.header {
  width: 100%;
  height: 80px;
  background-color: #e23744;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;

  z-index: 1;
}

.imageContainer {
  height: 100%;
  width: 180px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.navLinks {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.navLinks div {
  margin: 0 10px;
  cursor: pointer;
}

.majorButton {
  height: 100%;
  background-color: #F1C94D;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  color: black;
}

.transparent {
  background-color: transparent;
}

.white{
  color: white !important;
}