@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.landingTitle {
    font-family: Permanent Marker;
    font-size: 5vw;
    text-align: center;
    color: white;
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;

    z-index: 1;
}

.searchBar {
    font-size: 60px;
    text-align: center;
    position: absolute;
    top: 100%;
    text-align: center;
    width: 100%;

    justify-content: center;
    z-index: 1;
}

.container {
    display: inline;
}

.topContainer {
    position: relative;
    height: calc(100vh - 80px);
}

.topBG {
    /* The image used */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../public/landing_top_bg.jpg");
  
    /* Full height */
    height: 100vh;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*Make the image darker*/
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;

    position: absolute;
    top: -80px;
    left: 0;
}


.scrollContainer {
    position: absolute;
    bottom: 8%;
    width: 24px;
    height: 24px;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.chevron {
    position: absolute;
    width: 100px;
    height: 6px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: white;

    opacity: 0.3;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.bottomBG {
    background-color: rgba(226, 55, 55, 1);
  
    /* Full height */
    height: 100vh;

    position: relative;
}

.landingBottomTitle {
    font-family: Permanent Marker;
    font-size: 5vw;
    text-align: center;
    color: white;
    position: absolute;
    top: 2%;
    text-align: center;
    width: 100%;
}

.carouselTop{
    padding-top: 12%;
}