/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); */

.landingTitle {
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.searchBar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    top: 100%;
    text-align: center;
    width: 100%;

    justify-content: center;
}

.container {
    width: 100%; 
    position: absolute;
    height: 100%;
}

.topContainer {
    transform: translateY(-80px);
    height: 40%;  
}

.topBG {
    /* The image used */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../public/landing_top_bg.jpg");
  
    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*Make the image darker*/
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

.bottomBG {
    /* Full height */
    height: 60%;
    transform: translateY(-80px);
    background-color: white;
    
    position: relative;
    width: 100%;
}

.landingBottomTitle {
    text-align: left;
    width: 100%;
}

.carouselTop{
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}