.form{
  /* background: green; */
  text-align: center;
  /* min-width: 50vw; */
}

.btnSubmit{
  width: 100%;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: #E23744; */
}

.btnRedirect{
  /* background:red; */
  padding: 0;
  color: #E23744;
}

.btnRedirect:hover{
  background:white;
  color: #d8606a;
}

.registerHeader, .registerFooter, .submitFormItem{
  margin-bottom: 0;
}